{%- assign allPageUrls = site.pages | where_exp: "page", "page.nav-exclude != true" -%}

{%- assign pagesUnderThis = allPageUrls | where_exp: "page", "page.url contains include.url" -%}

{%- assign directChildPages = "" | split: "" -%}
{%- for page in pagesUnderThis -%}
  {%- assign pageUrlFrontRemoved = page.url | remove_first: include.url -%}
  {%- assign pageUrlSplit = pageUrlFrontRemoved | split: "/" -%}
  {%- assign splitLength = pageUrlSplit | size -%}
  {%- if splitLength == 1 -%}
    {%- assign directChildPages = directChildPages | push: page -%}
  {%- endif -%}

{%- endfor -%}

{%- assign sortedTocItems = directChildPages | sort: "navOrder" -%}

{%- assign listSize = directChildPages | size -%}

{%- if listSize > 0 %}
{%- for page in sortedTocItems %}
<div class="one-page-section-title" id="{{page.title | slugify}}">
  <h1>
    <a class="one-page-section-title-link" href="#{{page.title | slugify}}">{{page.title}}<span class="section-link-icon">#</span></a>
  </h1>
  <a class="standalone-page-link" href="{{page.url}}">read as standalone page</a>
</div>
{{page.content}}

{% if page.zero-content-index %}
[This (super)section intentionally left blank. Scroll down for the contentful subsections!]
{% endif %}

{%- if page.url contains ".html" -%}
{%- else -%}
  {%- if include.recursive -%}
  {%- include one-page.html url=page.url recursive=true -%}
  {%- endif -%}
{%- endif -%}
{%- endfor %}
{%- endif -%}