<div class="toc">
  <div class="toc-mobile-nav ">
    {%- comment -%} this was the only way I could figure to have the toc be sticky at medium/large widths but also keep the nav in the mobile pop-out menu {%- endcomment -%}
    {% include nav.html %}
  </div>
  <hr>
  <div class="toc-title">Contents</div>
  <ul class="nav-list-main">
  {% assign allLines = include.html | newline_to_br | split: "<br />" -%}
  {% assign allHeaders = "" | split: "" -%}
  {% for line in allLines -%}
  {% if line contains "<h1" -%}
  {% assign allHeaders = allHeaders | push: line -%}
  {% endif -%}
  {% endfor -%}

  {% assign tocListItems = "" | split: "" -%}
  {% for header in allHeaders -%}
  {% assign item = header | replace: '<h1 id="', '<a href="#' | replace_first: ">", "><li>" | replace: "</h1>", "</li></a>" %}
  {% assign tocListItems = tocListItems | push: item %}
  {% endfor %}
  {{tocListItems}}
  </ul>
</div>
<div class="toc-backdrop"></div>