{%- assign allPageUrls = site.pages | where_exp: "page", "page.nav-exclude != true" -%}

{%- assign pagesUnderThis = allPageUrls | where_exp: "page", "page.url contains include.url" -%}

{%- assign directChildPages = "" | split: "" -%}
{%- for page in pagesUnderThis -%}
  {%- assign pageUrlFrontRemoved = page.url | remove_first: include.url -%}
  {%- assign pageUrlSplit = pageUrlFrontRemoved | split: "/" -%}
  {%- assign splitLength = pageUrlSplit | size -%}
  {%- if splitLength == 1 -%}
    {%- assign directChildPages = directChildPages | push: page -%}
  {%- endif -%}

{%- endfor -%}

{%- assign sortedTocItems = directChildPages | sort: "navOrder" -%}

{%- assign listSize = directChildPages | size -%}

{%- if listSize > 0 %}
<ul>
{%- for page in sortedTocItems %}
<li><a href="{{page.url}}">{{page.title}}</a></li>
{%- if page.url contains ".html" -%}
{%- else -%}
  {%- if include.recursive -%}
  {%- include toc-generator.html url=page.url recursive=true -%}
  {%- endif -%}
{%- endif -%}
{%- if page.content contains "<h1" -%}
  <ul>
  {%- assign pageLines = page.content | newline_to_br | split: "<br />" -%}
  {%- for line in pageLines -%}
  {%- if line contains "<h1" %}
  {% assign pageFrontSlug = page.url | prepend: 'a href="' | append: "#" %}
  <li>{{line | replace: 'h1 id="', pageFrontSlug}}</li>
  {%- endif -%}
  {%- endfor -%}
  </ul>
{%- endif -%}
{%- endfor %}
</ul>
{%- endif -%}